body {background-color: #d9ddd7;font-family: "Verdana"}
h1 {color:#32996e}
p {background-color: #6a7689;padding: 20px; color:white;}
.highlight{color:yellow;border-style: solid;border-width: 2px;margin-left: 20%;margin-right: 20%;text-align: center;}
a{color:white;}
a:hover {color: #6df469;}